{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="text-center mt-5">
        <h1 class="display-1 text-danger">404</h1>
        <h2 class="mt-4">页面未找到</h2>
        <p class="lead">抱歉，您访问的页面丢了。</p>
        <p class="lead">程序默认保留最近5次的运行记录，保留日志给作者看看问题所在。如果不影响正常使用就别管了</p>
        <!-- 返回按钮部分 -->
        <div class="mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-primary">返回首页</a>
            <!-- 如果 request.referrer 存在，显示返回上级按钮 -->
            {% if request.referrer %}
            <a href="{{ request.referrer }}" class="btn btn-secondary">返回上级</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
